<ul class="ramen-all">
  <% @ramens.each do |ramen| %>
    <% if ramen.image_url.url %>
      <%= link_to(ramen_path(ramen)) do %>
        <li><%= image_tag ramen.image_url.url , size:"300x300" %>
          <label id="shop">お店名：</label><span><%= ramen.shop_name %></span>
        </li>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</ul>