<div class="top">
  <h2><span>ラーメン</span>二郎<%= image_tag 'jiro.png' , size: "100x100"%></h2>
  <h1 class="article-title">クーポンましまし</h1>
  <% unless logged_in? %>
    <%= link_to('/auth/twitter') do %>
      <div class="twitter-back">
        <i class="fab fa-twitter fa-2x twitter-button"></i>
        Twitterログイン
      </div>
    <% end %>
  <% end %>
</div>