<h1>Cameras#new</h1>
<p>Find me in app/views/cameras/new.html.erb</p>

<input type="file" name="cameraFile" onchange="onChangeInput();" capture="camera">

<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->
<%= javascript_tag do %>
  var cameraImageLoader;
  function init() {
    if(!window.FileReader) {
      $("body").empty().append(
        $("<div />").append("file api not supported.")
      );
      return ;
    }
    cameraImageLoader = new FileReader()
    cameraImageLoader.onload = function(event) {
      $("body").append(
        $("<img />").attr("src", cameraImageLoader.result)
      );
    };
  }

  function onChangeInput() {
    cameraImageLoader.readAsDataURL(
      document.forms[0].cameraFile.files[0]
    );
  }
<% end %>