@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
}

.top {
  margin: 0;
  padding:   120px 0 650px 0;
  //width: 100%;
  background-image: url("/jiro-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F8CE12;
  a{
    text-decoration: none;
  }
}


.twitter-back {
  width: 200px;
  border-radius: 25px;
  background-color: #71C0F5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  box-shadow: 0 0 8px gray;
  &:hover{
    background-color: #3190E5;
  }
}

.twitter-button {
  padding: 5px 10px 5px 1px;
  color: white;
}