@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
}

.top {
  margin: 0;
  padding:   120px 0 650px 0;
  //width: 100%;
  background-image: url("/jiro-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F8CE12;
}