.select {
  margin-top: 25px;
  text-align: center;
  .btn{
    margin-top: 200px;
  }
  #ramen_shop_name {
    margin: 0 auto;
  }

  .preview{
    img {
      margin: 0 auto;
    }
  }
  p {
    color: red;
  }

    .btn-success {
      margin: 0 auto;
      margin-top: 20px;
      //margin-top: 35vh;
    }
}


@media screen and (max-width: 538px) {
  .upload-image {
    .file-input {
      display: none;
    }
    text-align: center;
    vertical-align: middle;
    //display: table-cell;
    width: 50%;
    height: 272px;
    padding: 0.2em 0.5em;
    margin: 0 auto;
    //background: #F8CE12;
    //box-shadow: 0px 0px 0px 10px #F8CE12;
    //border: dashed 2px white;
  }
}
@media screen and (min-width: 538px) {
  .upload-image {
    .file-input {
      display: none;
    }
    text-align: center;
    vertical-align: middle;
    //display: table-cell;
    width: 50%;
    height: 400px;
    padding: 0.2em 0.5em;
    margin: 0 auto;
    //background: #F8CE12;
    //box-shadow: 0px 0px 0px 10px #F8CE12;
    //border: dashed 2px white;
  }
}

// coupon
.coupon {
  margin: 0 auto;
  width: 500px;
  padding-bottom: 20px;
  background-color: #F8CE12;
  text-align: center;
  min-width: 500px;
  label#predict-label{
    font-size: 80px;
  }
  label#shop{
    font-size: 20px;
  }
  span {
    font-size: 30px;
  }
  h2 {
    padding-top: 60px;
    font-size: 3em;
  }
  h3 {
    font-size: 1.2em;
    color: red;
  }
  img {
    margin: 0 auto;
  }
}


// ramen all
.ramen-all {
  text-align: center;
  img{
    margin: 0 auto;
  }
  li {
    &:before{
      content: none;
    }
  }
}


// Form Error
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    li {
      list-style: none;
    }
  }
}
